html {
    font-family: arial;
}
body {
    color: #26282D;
}
navbar {
    padding: 16px;
    background-color: #B2CCE6;
}

#title {
    font-size: 36px;
    white-space: no-wrap;
    flex:1;
    font-weight: bold;
}
#return-link {
    text-align: right;
}

#weather-icon {
    width: 50%;
}

#forecast {
    font-size: 16px;
}

.container {
    padding: 32px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#zip {
    height:50%;
    font-size:16pt;
    width: 75%;
}

@-webkit-keyframes shake {
  from { transform: rotate(-30deg); }
  to { transform: rotate(30deg); }
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-15deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

#outputBox {
    color: red;
}